.img-thumbnail {
  padding: 0;
  width: 500px;
}

.img-thumbnail img {
  width: 100%;
}

.img-thumbnail a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

.img-thumbnail .caption-full {
  padding: 9px;
}

.caption-full p {
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

.dropdown-toggle {
  color: #000;
}

.video-react .video-react-big-play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
